{% extends "base.html" %}

{% block content %}
    <body>
        {% if error %}
            {% for e in error %}
            <p>{{ e }}</p>
            {% endfor %}
        {% endif %}
        <form action="/login" method="post">
            <label id="login-label-uname">username</label><br>
            <input type="text" id="username" name="username"><br>
            <label id="login-label-pwd">password</label><br>
            <input type="password" id="password" name="password"><br>
            <button type="submit">login</button>
        </form>
    </body>
{% endblock %}
